@import url('https://use.typekit.net/gaa3hry.css');
.pokeFlex{
  display: flex;
  background-color:white;
  align-items: center;
  justify-content: center;
/*   position: absolute;
 */  margin-top: 30vh;
  flex-wrap: wrap;
  width: 81%;
  align-items: center;
  font-family: hydrophilia-iced, sans-serif;
  font-weight: 400;
  font-style: normal; 
  color: black;
  margin: auto;
  padding: 1%;
}

.pokeFlex > * {
  display: flex;
  flex-direction: column;
  background-color: rgba(87, 91, 92, 0.199);
  border: 0.01rem solid rgba(146, 143, 143, 0.185);
  width: calc(10% -0.42rem);
  text-align: center;
  margin: auto ;
  margin: 0.2rem;
  padding: 0% ;

}
