.campo {
  background-size: contain;
  width: 85%;
  height: 85%;
  background-image: url('../assets/campo.png');
  position: absolute;
  top: 150px;
  left: 100px;
  background-repeat: no-repeat;
  z-index: -1;
}
.campito {
}
.arbusto {
  background-image: url('../assets/arbusto.png');
  background-repeat: no-repeat;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 780px;
  left: 1000px;
  z-index: auto;
}
.bola {
  background-image: url('../assets/pokeball.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100px 100px;
  position: absolute;
  top: 80px;
  left: -700px;
  z-index: 1;
}
/*
  .pokedex {
  background-image:url("../assets/pokedex.png");
      background-repeat: no-repeat;
      width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 1300px;
  background-size: 400px 300px;
    z-index: auto;
  }
  */
